html, body {
    background-color:#F3E0E0;
    height:100%;
    max-height:100%;    
    max-width:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    padding:0;
    margin:0;
}

#page {
    display:grid;
    grid-template-columns:repeat(20, 4.945vw);
    grid-template-rows:repeat(20, 4.945vw);
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    padding:0;
    margin:0;

   
}

.grid-items {
    border: 1px solid black;
}

#orange {
    height:100%;
    width:100%;
}
#orange img {
    height:100%;
    width:100%;
}

#orange-img {
    grid-column: 18 / span 2;
    grid-row: 2 / span 2;
}

#orange-img img {
    height:100%;
    width:100%;
}

#judge-zeynep-img {
    grid-column: 1 / span 5;
    grid-row: 4 / span 3;
}

#judge-zeynep-img img {
    height:100%;
    width:100%;
}
#judge-kitten-img {
    grid-column: 17 / span 2;
    grid-row: 7 / span 3;
}

#judge-kitten-img img {
    height:100%;
    width:100%;
}

#bulldozer-img {
    grid-column: 2 / span 3;
    grid-row: 8 / span 2;
}

#bulldozer-img img {
    height:100%;
    width:100%;
}

#coffee-img {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#coffee-img img {
    height:100%;
    width:100%;
}


#title-section {
    background-color: purple;
    grid-column: 6 / span 10;
    grid-row: 1 / span 2; 
}

#title-section-wrapper {
    align-items:center;
    display:inline-block;
    height:100%;
    justify-content:center;
    text-align:center;
    width:100%;
}

#title-section-wrapper h1 {
   font-size:3.5rem;
}


#message-section {
    background-color: orange;
    grid-column: 6 / span 10;
    grid-row: 3 / span 8;
}

#message-section-wrapper {
    align-items:center;
    height:100%;
    max-height:100%;
    justify-content:center;
    text-align:center;
    width:100%;
    max-width:100%;
}



@media screen and (max-width: 630px) {
    #page {
      grid-template-columns:repeat(10, 9.945vh);
      grid-template-rows: repeat(20, 10.945vh);
    }
    #title-section {
        grid-column: 3 / span 6;
        grid-row: 1 / span 2;
    }
    #message-section {
        grid-column: 3 / span 6;
        grid-row: 3 / span 15;
    }
    #judge-zeynep-img {
        grid-column: 3 / span 6;
        grid-row: 17 / span 3;
    }
    #orange-img {
        grid-column: 9 /span 2;
        grid-row: 1 /span 2;
    }
    #judge-kitten-img {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2
    }
}


